*{
  padding: 0;
  margin: 0;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown-menu {
  /* background-color: rgb(2, 212, 177); */
  background-color: #009696;
  padding: 20px;
}


.dropdown-item{
  color: #D9EDFF !important;
}
.dropdown-item:hover{
  color:#009696 !important;
  background-color: white !important;
  border: none !important;
}

/* ``````````````````````````````````````````````` */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f5f5;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column1 {
  width: 100%;
  padding: 0.5em 0;
}
/* h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
  padding-top: 50px;
} */
.cards {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.cards .img-container {
  width: 8em;
  height: 8em;
  background-color: #009696;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.cards_img img{
  height:115px;
  width: 110px;
  border-radius: 50%;
}
.cards h3 {
  font-weight: 500;
}
.para {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.fab{
  color: #009696;
}
.fab:hover{
  color: white;
}
.fa-envelope{
  color: #009696;
}
.fa-envelope:hover{
  color: white;
}
.cards a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.cards:hover {
  /* background: linear-gradient(#6045ea, #8567f7); */
  background: #009696;
  color: #ffffff;
}
.cards:hover .fa-solid{
  color: white;
}
.cards:hover .fab{
  color: white;
}
.center{
  margin-left: 440px;
}

.cards:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .cards {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}


/* ```````````````````````````````````` */
        /* ProfileDropDown */
        /* .P_icons i{
          padding-left: 60px;
          padding-right: 15px;
          padding-top: 30px;
          color: black !important;
        }
        .User_icons i{
          padding-left: 30px;
          padding-right: 15px;
          padding-top: 30px;
          color: black !important;
        } */
        /* .post_icon i{
          padding-left: 45px;
          padding-right: 15px;
          padding-top: 30px;
          color: black !important;
        } */
        /* .answer_icon i{
          padding-left: 20px;
          padding-right: 15px;
          padding-top: 30px;
          color: black !important;
        } */
        /* .Logout_icon i{
          padding-left: 58px;
          padding-right: 15px;
          padding-top: 30px;
          color: black !important;
        } */
        /* .zohaib_icon i{
          padding-left: 58px;
          padding-right: 15px;
          padding-top: 30px;
          color: black !important;
        } */
        .hover_Picon{
          display: flex;
          justify-content:flex-start;
          margin-right: 50px;
          margin-top: 20px;
        }
        .space{
          padding-left: 30px;
        }
        .Person2{
          padding-left: 50px;
        }
        .DriveFileRenameOutline{
          padding-left: 20px;
        }
        .QuestionAnswer{
          padding-left: 10px;
        }
        .Login{
          padding-left: 45px;
        }
        .fa-user{
          color: white;
          margin-top: 15px;
          cursor: pointer;
        }
        .dropDownProfile ul li a{
          text-decoration: none;
          color: black;
        }
        .dropDownProfile ul li{
            list-style: none;
        }
        .dropDownProfile ul li:hover{
          border-bottom: 1px solid silver;
        }
        
        

        .dropDownProfile{
          position: fixed;
          top: 4.6rem;
          right: 5.5rem;
          /* width: 150px; */
          border-radius: 8px;
          background-color: white;
          border: 1px solid grey;
          color: black;
          z-index: 1;
        }
        .dropDownProfile::before{
          content: '';
          position: absolute;
          top: -0.6rem;
          right: 1.1rem;
          width: 15px;
          height:18px;
          transform: rotate(47deg);
          background-color: white;
          border-left: 1px solid gray;
          border-top: 1px solid gray;
          color: black;


          
        }